body {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    background-color: #464b5f;
    font-size: 1.3em;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    justify-content: center;
}
.contenido {
    width: 700px;
    margin-left: 50px;
    margin-right: 50px;
    float: left;
}
.menuLateral {
    width: 200px;
    height: fit-content;
    background-color: white;
    margin-left: 0px;
    float: left;
    position: fixed;
    padding: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}
.buttonsTitle {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    font-size: 1.3em;
}
.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    border: 3px solid #2c334d;
    border-radius: 20px;
    background-color: #898ea4;
    text-decoration: none;
    color: black;
}
.buttons:hover {
    background-color: #2c334d;
    transform: scale(1.1);
    color: white;
}
aside {
    height: 230vh;
    width: 35px;
    background-color: #1e2335;
    border-radius: 15px;
    float: left;
}
.introTitle {
    background-color: white;
    padding: 15px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}
.intro {
    background-color: white;
    padding: 25px;
    border-radius: 40px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    text-align: justify;
}
.principlesListTitle {
    background-color: white;
    padding: 15px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}
.principlesList {
    background-color: white;
    padding: 25px;
    border-radius: 40px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    text-align: justify;
}
.elementsListTitle {
    background-color: white;
    padding: 15px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}
.elementsList {
    background-color: white;
    padding: 25px;
    border-radius: 40px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    text-align: justify;
}
.advantagesTitle {
    background-color: white;
    padding: 15px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}
.advantages {
    background-color: white;
    padding: 25px;
    border-radius: 40px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    text-align: justify;
}
.artifactsTitle {
    background-color: white;
    padding: 15px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}
.artifactsList {
    background-color: white;
    padding: 25px;
    border-radius: 40px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    text-align: justify;
}